// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left-panel{
	background-color:white;
	padding-top: 30px;
	padding-bottom: 100%;
}

#right-panel{
	background-color:gray;	
	padding-top: 30px;
	padding-bottom: 100%;
}

form {
	display: inline-table
}

#searchbar {
    border-radius: 5px 0px 0px 5px;
}

@media (min-width: 980px) {
  body {
    padding-top: 40px;
    padding-bottom: 42px;
  }
}