<div class="col-md-8" id="left-panel">
</div>

<div class="col-md-4" id="right-panel">
</div>


<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb testest</p>

<% @classes.each do |c| %>
<%= c.title %><br>
<% end %>